<% title "Select a Letter"%>

<div id="alphabet">
	<% for letter in @letters %>
	  <%= link_to letter.char, letters_path(:letter => letter.char) %>
	<% end %>
</div>

<div id="alphabet2">
<% @letters.each do |letter| %>
	<%= link_to letter.char, letters_path(:char => letter.char)%>
<% end %>
</div>
<!-- 
<% for char in 'A'..'Z' %>
  <li><%= link_to char, root_path, :remote => true %></li>
<% end %> -->